.calendar{
  width: 100%;
  margin-bottom: 1rem;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
.weeks{
  display: flex;
}
.day{
  width: 14.286%;
  text-align: center;
  transition: all .2s;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
.header{
  padding: .5rem 1rem;
}
.plain{
  height: 80px;
  padding-top: 10px;
}
.day:hover:not(.disabled) {
  background: #eee;
  cursor: pointer;
}
.weekdays{
  display: flex;
  background: #c8c8c8;
}
.disabled {
  color: #a6a6a6;
  cursor: not-allowed;
}
.active {
  color: orangered;
  font-weight: bold;
}
.selected {
  color: blue;
  font-weight: bold;
}
.tasked{
  background: lightblue;
}
.task-container{
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

