section {
  border: 1px solid #000;
  padding: 1rem;
}
header {
  margin-bottom: 1rem;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}
.btn {
  display: inline-block;
  background: #cc2929;

  font-size: 1rem;

  cursor: pointer;
  margin-right: .6rem;
  transition: opacity .2s;


  border: none;
  outline: none;
  padding: 1rem;

  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 4px #999;

}


.btn-block {
  display: block;
  width: 100%;
  background-color: hsl(200deg, 50%, 50%);
  transition: background 0.6s;
}
.btn-block:active {
  background-color: hsla(200deg, 50%, 50%, 0.32);
  transition: background 0s;
}
.btn-primary {
  background: orangered;
  color: #fff;
}
.btn:disabled {
   background: #CC633D;
   color: #c7c7c7;
   cursor: not-allowed;
}
.btn:hover:not(:disabled) {
   opacity: .8;
}
ul {
  list-style: none;
}
input {
  display: block;
  width: calc(100% - 2px);
  padding: .4rem 0;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: .5rem;
}
